{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <!-- Présentation d'équilibr' & Minceur -->
    <h1 class="Titre">Bienvenue</h1>
    <div class="texte">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
            voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
            nihil facere consequatur!
        </p>
    </div>
    <h2 class="Titre">Présentation</h2>
    <div class="texte">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
            voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
            nihil facere consequatur!
        </p>
    </div>
    <h2 class="Titre">Nos coordonnées</h2>
    <div class="texte">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
            voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
            nihil facere consequatur!
        </p>
    </div>
    <div class="section_1">
        <img class="image_plan" src="../image/plan_travail.jpg">
    </div>
{% endblock %}
