{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <!-- Présentation d'équilibr' & Minceur -->
    <section id="ancre_presentation" class="presentation_intro">
        <h1 class="who_am_i">Equilibr'&Minceur</h1>
    </section>
    <section class="presentation_section">
        <div class="presentation_detail">
            <div class="presentations">
                {% for presentation in presentations %}
                    <div class="presentation_part">
                        {% if presentation.type == 'title' %}
                        <h2 class="presentation_title">{{ presentation.value }}</h2>
                        {% endif %}
                        {% if presentation.type == 'subtitle' %}
                        <h3 class="presentation_subtitle">{{ presentation.value }}</h3>
                        {% endif %}
                        {% if presentation.type == 'paragraph' %}
                        <p class="presentation_paragraph">{{ presentation.value }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="section_1">
        <img class="image_plan" src="../image/plan_travail.jpg">
    </div>
{% endblock %}
