@import "presentation.css";
@import "produit.css";
@import "service.css";

body{
    background-image:url("../../public/image/fleur.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    
}