{% block navbar %}
<!--Liens des pages-->
    <nav class="header_nav navbar-dark navbar-expand-xl bg-dark fixed-top">
        <button class="header_nav_button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="header_nav_span navbar-toggler-icon"></span>
        </button>
        <div class="header_nav_div collapse navbar-collapse bg-dark" id="navbarSupportedContent">
            <ul class="header_nav_list navbar-nav ml-2">
                <li class="header_nav_list_item nav-item">
                    <a class="header_nav_list_link nav-link text-white" href="index.html">Accueil</a>
                </li>
                <li class="header_nav_list_item nav-item">
                    <a class="header_nav_list_link nav-link text-white" href="../src/view/massage.html">Massage</a>
                </li>
                <li class="header_nav_list_item nav-item">
                    <a class="header_nav_list_link nav-link text-white" href="../src/view/minceur.html">Minceur</a>
                </li>
                <li class="header_nav_list_item nav-item">
                    <a class="header_nav_list_link nav-link text-white" href="../src/view/produits.html">Produits</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

